.carsContainer {
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;
  margin-bottom: 4rem;
}

.carsButton {
  background-color: transparent;
  color: var(--title-color);
  border: 1px solid var(--sub-color);
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}
.carsButton:hover {
  color: var(--container-color);
}
.carsButtonIcon {
  transition: all .7s ease;
}
.carsButton:hover .carsButtonIcon {
  transform: translateX(.5rem);
}
